:root{
	--point_C: #71bf43;
}
::selection {
	color: white;
	background-color: var(--point_C);
}
* {
    word-break:keep-all;
}
body {
	font-family: 'Gothic A1', sans-serif;
    min-width: 375px;
}
a {
	color:black;
	text-decoration:none;
}
.page {
	position: relative;
}
.top {
    position: fixed;
    display: none;
    z-index: 5;
    bottom: 6%;
    right: 2.3%;
    cursor: pointer;
    font-size: 25px;
    width: 50px;
    padding: 11px;
    border: 1px solid #6f6f6f;
    height: 50px;
    background: white;
    transition: .4s;
}
/* header */
header {
	position:fixed;
	width: 100%;
	z-index: 4;
	transition:.4s;
	border-bottom: 1px solid rgba(255,255,255,.2);
}
header:hover {
	background-color: white;
}
header:hover .media_logo {
	color:black;
}
header:hover div.col-4 > a {
	color:black;
}
header:hover .logo img:nth-of-type(1) {
	display: none;
}
header:hover .logo img:nth-of-type(2) {
	display: block;
}
.logo img:nth-of-type(2) {
	display: none;
}
.HE_gnb div.col-4 {
	padding: 18px 0px;
}
.HE_gnb > div > div > a {
	color: white;
    padding-top: 10px;
    display: block;
	text-align: right;
	font-weight: bold;
}
.HE_gnb > div > div:hover > a {
	color:var(--point_C);
}
.logo {
	padding:18px 0px;
}
.logo img {
	height:30px;
}
.media_menu {
	display: none;
}

/* header submenu */
.HE_submenu {
	height: 0px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	left:0;
	top:67px;
	transition:.4s;
	background-color:#fbfbfb;
}
.HE_subbox {
	position: absolute;
	width: 100%;
	left:0;
	top:67px;
	transition:.4s;
	background-color:#fbfbfb;
	height: 0px;
}
.HE_gnb:hover .HE_subbox {
	height: 70px;
}
.HE_gnb div.col-4:hover .HE_submenu{
	height: 70px;
}
.HE_submenu ul {
	display: flex;
    margin: auto;
    width: 1040px;
    justify-content: space-between;
    margin-right: 0;
    padding: 27px 18% 27px 0;
}
.HE_gnb .col-4:nth-child(2) ul {
	width: 1047px;
    padding-right:5%;
}
.HE_gnb .col-4:nth-child(3) ul {
    width: 475px;
    padding-right: 5%;
}
.HE_gnb .col-4:nth-child(4) ul {
	justify-content: flex-end;
    padding-right: 5%;
}
.HE_submenu li {
    text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}
.line {
    width: 1px !important;
    height: 15px;
	margin: 0 20px;
    background-color: #c7c7c7;
}
.HE_gnb div.col-3:hover .HE_underbar {
	width: 7%;
}
.HE_underbar {
	height: 3px;
    width: 0px;
	transition:.4s;
    background-color: var(--point_C);
    border-radius: 10px;
    margin-left: 5%;
    bottom: -1px;
    position: absolute;
}

/* media submenu */
.media_sub * {
    font-weight: bold;
	color:#404040;
    cursor: pointer;
}
.media_h1 {
    display:flex;
	justify-content: space-between;
    padding: 18px 35px 22px 30px;
    letter-spacing: 1px;
    font-size: 15px;
}
.media_p {
    height: 0;
    transition:.5s;
	overflow: hidden;
	background-color: #f8f8f8;
}
.media_p p {
    border-bottom: 1px solid #eee;
    font-size: 13px;
}
.media_p a {
    display: block;
    padding: 18px 35px 18px 30px;
}
.media_menu_hidden {
	position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 5;
    top: -100%;
	transition:.5s;
}
.media_close {
	text-align: right;
	font-size: 18px;
	padding:25px 37px 25px 0px;
	cursor:pointer;
	border-bottom:1px solid #eee;
}

/* section nav */
.SE_nav {
	position: fixed;
    top: 50%;
    right: 3%;
    z-index: 2;
    color: white;
	transform: translateY(-50%);
}
.SE_nav li {
	margin:10px 0px;
	position:relative;
}
.SE_nav > ul > li:first-child a{
	border-color:white;
}
.SE_nav a {
	display: block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid transparent;
    position: relative;
	transition:.4s;
}
.SE_nav a span {
	border-radius: 50%;
    position: absolute;
    width: 7px;
    height: 7px;
    top: 8px;
    background-color: white;
    left: 8px;
}
.SE_nav_txt {
	display:none;
	position: absolute;
    left: -135px;
    top: -3px;
    text-align: center;
    width: 109px;
    height: 33px;
    padding: 10px;
    color: black;
    letter-spacing: 1px;
    font-size: 12px;
    background-color: white;
}
.SE_nav li:hover .SE_nav_txt {
	display:block;
}

/* section */
.SE_top {
	background-image: url(../img/it_bg.jpg);
    background-position: center;
    overflow: hidden;
    background-size: cover;
    border-bottom: 1px solid #dedede;
}
.SE_top * {
	color:white;
}
.SE_main_txt {
	position: absolute;
	top:50%;
	transform:translateY(-50%);
	font-weight: bold;
}
.SE_main_txt h1 {
	font-size: 3vw;
    line-height: 1.4;
    padding-bottom: 43px;
}
.SE_main_txt h3 {
	font-size: 1vw;
    padding-bottom: 70px;
	font-weight: bold;
}
.SE_main_link {
	position: relative;
	width: 180px;
	padding:20px;
	border:1px solid white;
	text-align: center;
}
.SE_main_link > div {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	transition:.4s;
}
.SE_main_link a {
	padding:11px;
	display:block;
    font-weight: 300;
}
.SE_bg {
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,.3);
	position: absolute;
}

/* business */
.business * {
	text-align: center;
}
.business {
    padding-top:5%;
}
.text01 {
    font-size:53px;
    margin:0 auto;
    font-weight:bold;
    letter-spacing: 2px;
}
.s-text01 {
    padding:40px 0 30px 0;
    font-weight: bold;
    font-size: 19px;
    color:#676767;
    line-height: 22px;
}
.tab {
    display:none;
}
.tab.active {
    display: block;
    margin: 0 auto;
}
.act {
    width: 150px;
    height: 50px;
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    margin: 1rem auto;
    cursor: pointer;
    position: relative;
    border: none;
    background-color: #cacaca;
}
.active {
    background-color: #fff;
    color: #333;
}
.act:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #71bf43;
    transition: .7s;
}
.act:hover:before {
    width: 100%;
}
.slider {
    margin:0 auto;
    object-fit:none;
}
.v-ul {
    width: 100%;
    margin:50px auto 0;
}
.v-ul>li {
    width: 250px;
    color: #333;
    list-style: none;
    display: inline-block;
}
.v-ul>li img {
    width: 130px;
    height: 130px;
}
.h-li img:nth-of-type(2) {
    display:none;
}
.v-ul > li:nth-child(2) img {
    width: 140px;
    height: 120px;
}
.v-text01 {
    padding: 20px 0;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.v-text02 {
    padding: 45px 0 15px;
    font-size: 24px;
    font-weight: bold;
}
.v-text03 {
    font-size: 18px;
    font-weight: bold;
    color: gray;
}
/* swiper slider */
.swiper {
    width: 90%;
    height: 100%;
}
.tab_slider {
    width: 65%;
}
.item {
    position: relative;
}
.out_next,.out_prev {
    outline: none;
    top: 34% !important;
}
.out_prev {
    left: -4% !important;
}
.out_next {
    right: -4% !important;
}
.swiper-slide {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 20%;
    object-fit: cover;
}
.swiper-button-next, .swiper-button-prev{
    top: 30%;
    right:0;
    color:#5f5f5f;
}
.swiper-button-prev{
    left:0;
}
/* bisuness */
.b-box {
	float: left;
	width: 95%;
	height: 100%;
	padding: 15px 0;
	background: #fff;
	color: #333;
}
.b-box ul {
	margin: 0 auto;
	padding: 15px 0;
}
.b-box img {
	width: 100%;
	height: 200px;
	margin: 0 auto;
}
.b-text {
	padding: 20px 0;
	font-weight: bold;
	font-size: 17px;
	margin: 0 auto;
}
.b-text01 {
	font-size: 18px;
	padding: 21px 0;
    font-weight: bold;
    position:relative;
}
.b-text01:after {
	content: '';
	display: block;
	width: 35px;
	height: 3px;
	background: #71bf43;
	position: absolute;
	left: 45%;
	bottom: 0%;
}
.b-text02 {
    font-size: 12px;
    line-height: 23px;
    font-weight: bold;
    padding-top: 25px;
    color: #848484;
}
.b-text03 {
	list-style: none;
	line-height: 1.3rem;
	font-size: 0.75rem;
	text-align: center;
	vertical-align: middle
}
/* history*/
.h-text {
	padding: 15px 0;
	font-weight: 300;
	font-size: 0.9rem;
	margin: 0 auto;
}
.h-ul {
	margin: 50px auto;
	position: relative;
	width: 90%;
}
.h-ul:before {
	content: " ";
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -2px;
	padding: 20px 0;
	width: 3px;
	height: 100%;
	background-color: #eee;
}
.h-ul li {
	position: relative;
	margin-bottom: 20px;
	list-style: none;
}
.h-ul li img {
    position: absolute;
    top: 46px;
    left: 38%;
    width: 164px;
    height: 38px;
}
.h-ul li:nth-child(odd) img {
    transform: rotate(180deg);
    left: 49.5%;
}
.h-ul li:nth-child(2) h4 {
    text-align: right;
    padding: 0 64% 0 0;
}
.h-ul li:nth-child(2) p {
    text-align: right;
    padding: 0 64% 0 0;
}
.h-ul li h4 {
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: bold;
    padding-left:64%;
    color: #3f454b;
    text-align: left;
    line-height: 1.5;
}
.h-ul li p {
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: 0.01rem;
    color: #707984;
    word-break: keep-all;
    font-weight: bold;
    text-align: left;
    padding-left:64%;
}
.h-ul li span {
	position: relative;
	display: block;
	margin-top: 20px;
	width: 320px;
}
/* contect form */
.SE_contect {
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	background-color:white;
	text-align: center;
	font-weight:bold;
	padding:22px 0px;
	cursor: pointer;
	z-index: 3;
}
.SE_contect h1 {
	display:inline-block;
	position: relative;
	padding-right:50px;
}
.SE_contect * {
	color:black;
}
@keyframes arrow_move {
  0%{transform: translateY(-5px);}
  50%{transform: translateY(5px);}
  100%{transform: translateY(-5px);}
}
.SE_contect i {
	position: absolute;
    font-size: 25px;
    top: -40%;
    right: 0%;
	animation: arrow_move 3s ease infinite;
}
.SE_contect_hidden {
	position: absolute;
    width: 100%;
    height: 100%;
	background-image: url(../img/form_bg.jpg);
	background-position: left;
	opacity: 0;
	transition:.4s;
}
.SE_contect_hidden div[class^=col] {
	padding: 5%;
	transition:.7s;
	transform: rotateY(90deg) scale(1.5);
}
.SE_form_left h1 {
	font-size: 3vw;
}
.SE_form_left h3 {
	font-size: 1.3vw;
    padding-top: 25px;
    line-height: 38px;
}
.SE_form_left i {
	transform: translateY(4px);
    display: inline-block;
    color: var(--point_C);
    font-size: 1.3vw;
    padding-right: 17px;
}
.SE_form_left p {
	padding-top:37px;
	font-size: 1vw;
}
.SE_form_right {
	background-color:var(--point_C);
}
.SE_form_right div {
	padding-bottom: 40px;
}
.SE_form_right div:last-child {
	padding:0;
}
.SE_contect_hidden > div.row {
	position: absolute;
    top: 47%;
    width: 76%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.SE_contect_hidden input, .SE_contect_hidden textarea {
	width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
	height: 30px;
	font-size: 20px;
}
.SE_contect_hidden input[type=submit] {
	background-color: white;
    color: var(--point_C);
    height: 50px;
    margin-top: 2%;
	cursor: pointer;
	font-weight: bold;
	transition:.4s;
}
.SE_contect_hidden input[type=submit]:hover {
	color: #62676d;
}
.SE_contect_hidden textarea {
	margin-top:10px;
	height: 110px;
	max-height: 110px;
	max-width:100%;
}
.SE_contect_hidden label {
    font-size: 1vw;
    display: block;
	opacity: 0.9;
}
.SE_form_close {
	position: absolute;
    top: 1%;
    right: 1%;
    font-size: 3vw;
    cursor: pointer;
}

/* location */
.MA_location {
	text-align: center;
	height: 100%;
}
.MA_location img {
	height: 100%;
    width: 100%;
    transition: 1s;
}
.MA_location > div p:nth-child(1) {
	padding-bottom: 31px;
	letter-spacing:2px;
    font-size: 66px;
    font-weight: bold;
}
.MA_location > div p:nth-child(2) {
	font-weight: bold;
    font-size: 19px;
	color:#a2a2a2;
}
.MA_location > div {
	height: 34%;
    padding-top:120px;
}
.MA_location ul {
	display: flex;
	height: 66%;
    padding:30px 0 0 0;
}
.MA_location li:hover img {
	transform: scale(1.1);
}
.MA_location a {
	color:white;
}
.MA_location li {
    width: 33.33333333333333333%;
	position: relative;
	overflow: hidden;
}
.MA_location_name p:nth-child(1) {
	font-size: 36px;
	transition:.4s;
	padding-bottom: 0;
}
.MA_location_name p:nth-child(2) {
    font-weight: 300;
    padding: 15px 0px 10px 0px;
}
.MA_location_name p:last-child {
    width: 45px;
    margin: auto;
    border: 1px solid white;
    border-radius: 50%;
}
.location_bg {
	background-color: rgba(0,0,0,.2);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.MA_location_name {
	position: absolute;
    top: 50%;
    left: 50%;
	width: 100%;
    font-size: 22px;
    transform: translate(-50%,-50%);
    font-weight: bold;
    line-height: 43px;
    letter-spacing: 2px;
}

/* footer */
footer {
	background-color:#f9f9f9;
	font-size: 12px;
	color: #474548;
    height: 220px;
    overflow: hidden;
}
footer > div {
	padding: 50px 0%; 
}
.FO_content img {
    width: 151px;
    transform: translate(-42px, -58px);
}
.FO_content > div:nth-child(2) {
	line-height: 22px;
}
.FO_content strong {
    font-weight: bold;
}
.family_site {
	border: 1px solid gray;
    padding: 8px 18px 8px 15px;
	outline: none;
    background: #f9f9f9;
    margin-left:38%;
}
.family_site i {
	padding-left:10px;
}
.family_site i:nth-of-type(2) {
	display:none;
}
.family_site_ul {
	display:none;
    width: 128px;
	margin-left:38%;
	border-right:1px solid gray;
	border-left:1px solid gray;
}
.family_site_ul li {
    border-bottom: 1px solid gray;
    padding: 9px 18px 9px 15px;
    color: black;
    cursor:pointer;
}

@media screen and (max-width: 960px) {
	.col-s-1 {
		width: 6.997084548%;
	}
	.col-s-2 {
		width: 15.45189504%;
	}
	.col-s-3 {
		width: 23.90670554%;
	}
	.col-s-4 {
		width: 32.36151603%;
	}
	.col-s-5 {
		width: 40.81632653%;
	}
	.col-s-6 {
		width: 49.27113703%;
	}
	.col-s-7 {
		width: 57.72594752%;
	}
	.col-s-8 {
		width: 66.18075802%;
	}
	.col-s-9 {
		width: 74.63556851%;
	}
	.col-s-10 {
		width: 83.09037901%;
	}
	.col-s-11 {
		width: 91.5451895%;
	}
	.col-s-12 {
		width: 100%;
	}

	/* header */
	.HE_gnb {
		display:none;
	}
	.media_menu:hover {
		color:black;
	}
	.logo img {
		height: 25px;
		padding-top: 8px;
	}
	.media_menu {
		position: absolute;
		display: block;
		color: white;
		font-size: 26px;
		top: 20px;
		right: 32px;
		cursor: pointer;
	}

	/* contect_form */
	.SE_contect_hidden > div.row {
		width: 84%;
	}
	.SE_contect_hidden div[class^=col]:last-child {
		padding: 5% 10%;
	}
	.SE_form_left {
		padding: 6% 0 !important;
		margin-right:0 !important;
	}
	.SE_form_left h1 {
		text-align: center;
		font-size: 30px;
		padding-bottom: 8px;
	}
	.SE_form_left h3 {
		line-height: 26px;
		font-size:18px;
	}
	.SE_form_right div {
		padding-bottom: 14px;
	}
	.SE_form_call {
		position: absolute;
		bottom: 0px;
		right: 0;
		padding: 7% 0;
	}
    .SE_form_call p:last-child {
        display:none;
    }
	.SE_contect_hidden label {
		font-size: 12px;
	}
	.SE_contect_hidden input[type=submit] {
		height: 40px;
		font-size: 3vw;
	}
	.SE_form_left p {
		padding-top:18px;
		font-size: 18px;
	}
	.SE_contect_hidden input, .SE_contect_hidden textarea {
        height: 21px;
    }
	.SE_form_close {
		top:-75%;
		font-size: 10vw;
	}
	.SE_form_left i {
		transform: translateY(0px);
		padding-right:4px;
	}
    
	/* section1 */
	.SE_main_txt h1 {
		font-size: 4vw;
	}
	.SE_main_txt h3 {
		font-size: 2.5vw;
	}

	/* footer */
	.MA_location_name p:nth-child(1) {
		font-size: 26px;
	}
}
@media screen and (max-width:768px) {
	/* 반응형 */
	.text01 {
		font-size: 2rem;
	}
	.s-text01 {
		padding: 15px 20px 0 20px;
		font-size: 0.9rem;
		font-weight: 300;
		word-break:keep-all;
	}
    .act{
        width: 100px;
        font-size: 16px;
    }
    .v-ul {
        width: 100%;
        display: flex;
    }
    .v-ul > li:nth-child(2) img {
        width: 90px;
        height: 80px;
    }
    .v-left {
    	width: 100%;
    	height: 80%;
    	float: left;
    }
    .v-ul>li {
    	padding: 15px 0;
    }
    .v-ul>li img {
    	width: 80px;
    	height: 80px;
    }
    .v-text01 {
    	width: 100%;
    	padding: 30px 0 15px 0;
    	font-size: 0.9rem;
    	font-weight: 300;
    }
    .v-text02 {
    	padding: 30px 0;
    	font-size: 1rem;
    }
    .v-text03 {
    	font-size: 0.75rem;
    	padding-bottom: 30px;
    	font-weight: 300;
    }

    /* swiper slider */
    .swiper {
        width: auto;
        padding:30px 0;
    }
    .swiper-slide img {
        display: block;
        width: 20%;
        object-fit: cover;
    }

    /* bisuness */
    .business {
        padding-top:85px;
    }
    .tab_slider {
        width: 93%;
    }
    .b-box {
    	float: left;
    	width: 90%;
    	height: 100%;
    	background: #fff;
    	color: #333;
    }
    .b-box img {
    	width: 100%;
    	height: 200px;
    	margin: 0 auto;
    }
    .b-text {
    	font-size: 0.9rem;
    	font-weight: 300;
    	word-break: keep-all;
    	line-height: 1.5rem;
    }
    .b-text01 {
    	font-size: 1rem;
    	padding: 0;
    	word-break: keep-all;
    	line-height: 1.5rem;
    	font-size: 0.9rem;
    	font-weight: 300;
    }
    .b-text01:after {
    	width: 10px;
    	left: 48%;
    	bottom: 15%;
        width: 35px;
    }
    .b-text02 {
    	font-size: 0.8rem;
    	line-height: 1.3rem;
    }

    /* history*/
    .h-ul li:nth-child(odd) {
    	padding-left: 59%;
		word-break:keep-all;
    }
    .h-ul li:nth-child(odd):before {
    	transform: rotate(180deg);
    	left: 49.3333%;
    	right: auto;
    }
	.h-ul li:nth-child(2) {
		padding-right:55%;
		word-break:keep-all;
	}
    .h-ul li h4 {
    	padding-top: 35px;
    	margin-bottom: 10px;
    	font-size: 1rem;
    	color: #3f454b;
    	font-weight: bold;
    	word-break: keep-all;
    }
    .h-ul li p {
    	font-size: 0.8rem;
    	line-height: 1.7;
    	letter-spacing: 0.01rem;
    	color: #707984;
    	word-break: keep-all;
    }
    .h-ul li span {
    	position: relative;
    	display: block;
    	margin-top: 20px;
    	width: 320px;
    }
}
@media screen and (max-width: 500px) {
    /* section1 */
    .top {
        font-size: 15px;
        width: 31px;
        height: 31px;
        padding: 7px;
    }
    .SE_main_link {
        width: 110px;
        padding: 17px;
        font-size: 12px;
    }
    .SE_main_txt {
        left:8%;
    }
    .SE_main_txt h1 {
        width: 289px;
        font-size: 27px;
    }
    .SE_main_txt h3 {
        font-size: 16px;
        width: 265px;
        line-height: 24px;
        padding-bottom: 37px;
    }

	/* contect form */
	.SE_form_left h3 {
		font-size: 12px;
		line-height: 20px;
	}
	.SE_form_left p {
		font-size: 11px;
	}
  
	/* location */
	.MA_location ul {
		display:block;
        height: 100%;
        padding-top:65px;
	}
	.MA_location li {
		height: 33.3333333333%;
		width: 100%;
	}
	.MA_location img {
        height: 130%;
        transform: translateY(-10%);
	}
    .MA_location li:nth-of-type(2) img {
        height: 160%;
    }
    .MA_location > div {
        display:none;
    }
    .MA_location_name p:first-child {
        font-size: 23px;
        height: 28px;
    }
    .MA_location_name p:nth-child(2) {
        font-size: 14px;
        padding:0;
    }
    .MA_location_name p:last-child {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
    .MA_location_name p:last-child i {
        transform: translateY(-6px);
        display: block;
    }

    /* business */
    .v-text01 {
        width: 66%;
        font-size: 11px;
        font-weight: bold;
    }
    .v-ul {
        margin-top: 20px;
    }
    .b-text {
        padding:30px 14px 20px 14px;
        font-size: 11px;
        font-weight: bold;
    }
    .b-text01:after {
        bottom:-15px;
        left: 39%;
    }
    .Drone {
        padding-top:14px !important;
    }
    .Drone + .b-text02 {
        padding-top:23px;
    }
    .b-text01 {
        padding-top: 20px;
        line-height: 17px;
        font-weight: bold;
    }
    .b-box {
        padding:0;
    }
    .b-box img {
        height: 90px;
    }
    .tab_slider {
        width: 85%;
    }
    .b-text02 {
        height: 150px;
        font-size: 10px;
        text-align: left;
        padding: 33px 18px 0px;
    }
    .b-box ul {
        display:none;
    }
    .out_prev {
        top: 60% !important;
        left:-8% !important;
    }
    .out_next {
        top: 60% !important;
        right:-8% !important;
    }
    .out_prev::after ,.out_next::after{
        font-size: 19px;
    }
    .v-ul>li img {
        width: 55px;
        height: 55px;
    }
    .v-ul > li:nth-child(2) img {
        width: 66px;
        height: 55px;
    }
    .h-ul li h4 {
        padding: 0 0 0 10%;
        font-size: 13px;
    }
    .h-ul li {
        margin-bottom: 0;
        height: 80px;
    }
    .h-ul li p {
        font-size: 11px;
        padding-left:10%;
    }
    .h-li img:nth-of-type(1) {
        display:none;
    }
    .h-li img:nth-of-type(2) {
        display:block;
        width: 44px;
        height: 24px;
        left: 48.5% !important;
    }
    .h-ul li:nth-child(2) img {
        left:41.5% !important;
    }
    .h-ul li:nth-child(2) p {
        padding: 0 23% 0 12%;
    }
    .h-ul li:nth-child(2) h4 {
        padding: 0 23% 0 0%;
    }
    .act {
        height: 38px;
        font-size: 14px;
    }
    .swiper {
        padding:0;
    }

	/* footer */
	.FO_content img {
        width: 92px;
        transform: translate(-25px, -34px);
	}
    .FO_content > div:nth-child(2) {
        line-height: 19px;
        font-size: 10px;
    }
    .family_site {
        font-size: 10px;
        padding: 7px 8px;
        margin-left:0;
    }
    .family_site i {
        padding:0;
    }
    .family_site_ul {
        font-size: 10px;
        margin-left:0;
        width: 80px;
    }
    .family_site_ul li {
        padding: 7px 8px;
    }
}